.main-container{
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.menu-container{
    border-right: solid #000;
    margin: 8px;
}
.content-block{
    margin: 8px;
}
.active-menuitem{
    background-color: #74B72E;
}
